table {
    border-collapse: collapse;

}

td,
th {
    text-align: left;
    padding: 16px;
}

.allOrders {
    display: flex;
    gap: 2vh;
}

tr:nth-child(even) {
    background-color: #F4F4F4;
}

.showData-Div {
    width: 96%;
    margin-left: 3%;
}

.mapped-data {
    color: #6C6C6C;
    font: #6C6C6C;
    font-weight: 500;
}